body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  user-select: none;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.no-margin {
  margin: 0;
}

/* .window-inner {
  position: relative;  
  width: 100%;
  height: 100%;
} */

#game-window {
  width: 800px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  position: absolute;
}

#text-window {
  width: 800px;
  height: 500px;
  position: absolute;
  z-index: 2;
}

#battle-window {
  width: 800px;
  height: 500px;
  position: absolute;
  z-index: 1;
  display: none;
  overflow: hidden;
}

#alpha-window {
  width: 800px;
  height: 500px;
  position: absolute;
  z-index: 1;
  display: none;
  overflow: hidden;
}

#cutscenes, #animation-window {
  width: 800px;
  height: 500px;
  position: absolute;
  display: none;
}

#stickman {
  width: 800px;
  height: 500px;
  position: absolute;
  display: none;
}

/* Stickman */
#stickman-right, #stickman-left {
  display: none;
  width: 10%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Yes or No Window */
#yes-or-no {
  display: none;
  position: absolute;
}