body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #e0cfb1;
  font-family: Garamond;
}

.large {
  font-size: 20px;
}

.medium {
  font-size: 12px;
}

.middle {
  text-align: center;
  margin: auto;
}

#container {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}

.subcontainer {
  width: 800px;
  height: 600px;
  position: absolute;
  background-color: #f0eacb;
  border-radius: 3px;
}

#title-screen {
  display: none;
}

#title-screen {
  width: 100%;
  height: 100%;
}